

<ul>
  <% @articles.each do |article| %>
    <li><%= link_to article.title, article_path(article) %></li><br />
  <% end %>
</ul>
<% if user_signed_in? %>
<%= link_to "New Article", new_article_path %> 
<% else %>
<%= link_to 'Sign Up to create articles', new_user_registration_path %>
<%= link_to 'Login to create articles', new_user_session_path %>
<% end %>